*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", serif;
    font-optical-sizing: auto;
}
body{
    background-color: #f9f7f8;
}
:root{
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%
    
    --site-max-with:50%;
}
.header{
    background: #3E4071;
   
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.sub-line{
    color:#D4AF37 ;
    padding-left:2%;
    font-style:italic;
    text-align:center;
    font-size: 25px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;

}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width:100%;
}
.text-box{
    width: 90%;
    color: #D7BA89;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 38px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
}
.start{
    display: inline-block;
    text-decoration: none;
    border: 2px solid #F4B393;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    color: #3E4071;
}
.start:hover{
   border:2px solid #3E4071;
    background: #3E4071;
    transition: 1s;
    color: #F4B393;
}
@media(max-width:  700px){
    .text-box h1{
        font-size: 15px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}