body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4ecec;
}
.resume-container {
    display: flex;
    width: 210mm ;
    height: 297mm;
    margin:2.5% auto;
    background: #ffffff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 45px;
  
}
.photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
   
}

.header p{
    font-size: 25px;
    padding-left: 25px;
    margin-bottom: 35px;
    color: #283747;
}
.header h1{
    text-decoration: underline;
    margin-top: 25px;
}
#jobTitle{
    padding-top: 0;
    margin-top: 0;
}
h3{
    font-size: 25px;
    text-decoration: 1.5px underline #045b49;
    margin-bottom: 6px;
}
.contact i{
    margin-left: 20px;
}
.left-column {
    width: 35%;
    border-right:2px solid rgb(72, 71, 71);
    /* padding: 20px; */
    /* margin-left: 18px; */
    /* box-shadow: 2px 0 5px rgba(2, 2, 2, 0.1); */
}
.ptofil h3{
    margin-top: 25%;
    padding-top: 25%;
}

.right-column{
    width: 75%;
    margin-left: 6%;
}
.Work h4{
    font-size: 19px;
    margin-bottom: 0;
    padding-bottom: 0;

}
.Work p{
   padding: 0;
   margin:7px;
   
}
[contenteditable] {
    border: none;
    padding: 5px;
   
}
[contenteditable]:focus {
    outline: dotted #c39bd3;
}
#rn{
    font-size: 17px;
    margin-bottom: 0;
}
#rp{
    margin-top: 0;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 3px;
}
#rphone,#re{
    margin: 0;
    padding: 5px;
}


